<%- include("partials/header.ejs") %>
    <%- include("partials/navbar.ejs") %>


        <div class="about-cont">
            <div class="head-one">
                <h2>Who we are?</h2>
                <p>Welcome to Raj Enterprises! We are a leading import-export company based in the heart of Pune
                    City with a global reach and a reputation for excellence.
                    Founded in 2021 by a team of experienced international trade professionals, Raj Enterprises is
                    dedicated to helping businesses of all sizes navigate the complex world of global commerce. Our
                    mission is to provide our clients with reliable, cost-effective solutions that help them grow their
                    businesses and succeed in today's competitive global marketplace.
                </p>
                <p>
                    At Raj Enterprises, we pride ourselves on our commitment to customer service, transparency, and
                    integrity. Our team of experts is here to help you every step of the way, from sourcing the right
                    products to meeting your shipping and logistics needs. We are also committed to staying up-to-date
                    on the latest trends, regulations, and best practices in international trade, so that we can provide
                    you with the most accurate and valuable advice.</p>
            </div>

            <div class="head-two">
                <h4>Our product offerings are diverse and varied, ranging from raw materials to finished goods. Some of
                    the industries we serve include:
                    <ul>
                        <li>Automotive</li>
                        <li>Hardware</li>
                        <li>Consumer Goods</li>
                        <li>Consumer Goods</li>
                        <li>Industrial Goods</li>
                        <li>Construction</li>
                        <li>Chemical</li>
                    </ul>
                </h4>


            </div>

            <p>We have a strong network of suppliers and partners around the world, and we are always looking for
                new opportunities to expand our reach and offer our clients the best possible selection of products
                and services.
            </p>

            <p>If you are interested in learning more about Raj Enterprises and how we can help your business
                succeed, please don't hesitate to contact us. We would love to hear from you!</p>


        </div>


        <div class="footer">

            <span>
                <i class="fa fa-phone" aria-hidden="true"></i>
                +91 (911) 9478653
            </span>

            <div class="f-mid">

                <h3>Raj Enterprises</h3>

            </div>


            <div>
                rajenterprises.al@gmail.com
            </div>

        </div>



        <script src="./scripts.js"></script>



        <%- include("./partials/footer.ejs") %>