<%- include("partials/header.ejs") %>
    <%- include("partials/navbar.ejs") %>


        <div class="about-cont">
            <div class="head-one">
                <h2>Contact No</h2>
                <p> +91 (911) 9478653
                </p>
                <h2>Email Id</h2>
                <p> rajenterprises.al@gmail.com
                </p>

            </div>
            <div class="head-one">
                <h2>Address</h2>
                <p> Shop no 1 , Sona Rupa Co-op Hsg Society
                    Kharalwadi
                    Pimpri
                    Pune 411018
                </p>


            </div>


        </div>


        <div class="footer">

            <span>
                <i class="fa fa-phone" aria-hidden="true"></i>
                +91 (911) 9478653
            </span>

            <div class="f-mid">

                <h3>Raj Enterprises</h3>

            </div>


            <div>
                rajenterprises.al@gmail.com
            </div>

        </div>



        <script src="./scripts.js"></script>



        <%- include("./partials/footer.ejs") %>