<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>AML</title>
</head>

<body>
    <header>

        <div id="top-head">
            <marquee behavior="" direction="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos
                pariatur ipsum consectetur iusto, maiores itaque! Harum deserunt necessitatibus facilis veniam!
            </marquee>
        </div>

        <div id="mid-head">
            <span id="call">
                <i class="fa fa-phone" aria-hidden="true"></i>
                +91 (911) 9478653
            </span>

            <div class="mid">
                <a href="/">
                    <img src="/data/media/logo.jpeg" alt="">

                    <h2>Raj Enterprises</h2>
                </a>
            </div>


            <div id="call">
                rajenterprises.al@gmail.com
            </div>

            <div class="m-bar" id="navBtn">
                <button> <img src="/data/media/bars.png" alt=""></button>
            </div>

            <div class="m-nav-card" id="m-menu">
                <div class="links"><a href="/">Home</a></div>
                <div class="links"><a href="/products">Products</a></div>
                <div class="links"><a href="/about">About</a></div>
                <div class="links"><a href="/contact">Contact</a></div>
            </div>
        </div>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/products">PRODUCTS</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/contact">CONTACT</a></li>


        </ul>
    </nav>


    <div class="pd-cont">
        <div class="img-cont">
            <img src="/<%= productItems[pId].productImg %> " alt="">
        </div>
        <div class="pd-content">
            <h2>
                <%= productItems[pId].productName %>
            </h2>
            <p>
                <%= productItems[pId].productDesc %>
            </p>
        </div>

        <div>

        </div>
    </div>


    <div class="footer">

        <span>
            <i class="fa fa-phone" aria-hidden="true"></i>
            +91 (911) 9478653
        </span>

        <div class="f-mid">

            <h3>Raj Enterprises</h3>

        </div>


        <div>
            rajenterprises.al@gmail.com
        </div>

    </div>





    <script src="/scripts.js"></script>
    <%- include("partials/footer.ejs") %>